<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/');
} %>

<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<% if (title === 'Account') { %>
    <h1>Welcome!</h1>
    <p>You're logged in.</p>
    <% } %>
    <% if (accountType === 'Client') { %>
        <h2>Welcome <%= account_firstname %></h2>
        <a href="/account/update/<%= accountId %>">Update Account Information</a>
    <% } else { %>
        <h2>Welcome <%= account_firstname %></h2>
        <a href="/account/update/<%= accountId %>">Update Account Information</a>
        <h3>Inventory Management</h3>
        <p><a href="/inv">Manage Inventory</a></p>
    <% } %>